.welfare-container{
	width: 100%;
	min-height: 100vh;
	background-color: #1D1F36;
	padding: 230rpx 32rpx 283rpx 32rpx;
	color: #FFF;
	position: relative;
	overflow-x: hidden;
	.fixed-top{
		width: 100%;
		background-color: #1D1F36;
		position: fixed;
		z-index: 9;
		// #ifdef H5
		top: 44px;
		// #endif
		// #ifndef H5
		top: 0;
		// #endif
		left: 0;
		padding: 0 32rpx;
		.input-box{
			width: 100%;
			height: 76rpx;
			background: #1D1F36;
			border-radius: 8rpx;
			border: 1rpx solid #5ADB6F;
			padding: 0 17rpx 0 36rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			input{
				font-size: 28rpx;
				font-family: PingFang SC-Regular, PingFang SC;
				font-weight: 400;
				color: #FFFFFF;
				height: 76rpx;
				width: 85%;
			}
		}
		.activity-pic{
			height: 177rpx;
			width: 100%;
			margin-top: 12rpx;
			image{
				width: 100%;
				height: 100%;
			}
		}
	}
	
	.welfare-content{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3,222rpx);
		justify-content: space-between;
		color: #FFFFFF;
		.welfare-home-item{
			width: 222rpx;
			height: 332rpx;
			margin-bottom: 30rpx;
			position: relative;
			.welfare-home-img, .welfare-home-box{
				width: 100%;
				height: 100%;
			}
			.welfare-home-img{
				position: absolute;
			}
			.welfare-home-box{
				display: inline-block;
				position: relative;
				z-index: 1;
				padding: 30rpx;
				view{
					margin: 0 auto;
					text-align: center;
				}
				.welfare-img{
					width: 63rpx;
					height: 72rpx;
					background-color: #57D86E;
					display: flex;
					justify-content: center;
					align-items: center;
					clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
					image{
						width: 59rpx;
						height: 68rpx;
						clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
					}
				}
				.welfare-name{
					font-size: 24rpx;
					font-family: YouSheBiaoTiHei-Regular, BTH;
					font-weight: 400;
					color: #FFFFFF;
					line-height: 28rpx;
					text-shadow: 0rpx 2rpx 8rpx #58D96E;
					margin-top: 12rpx;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				.welfare-material{
					display: grid;
					grid-template-columns: repeat(3, 46rpx);
					align-items: center;
					justify-content: space-between;
					margin: 12rpx 0;
					image{
						width: 46rpx;
						height: 46rpx;
					}
				}
				.welfare-num-accoumt{
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 20rpx;
					font-family: PingFang SC-Regular, PingFang SC;
					font-weight: 400;
					.item{
						margin: 0;
					}
				}
				.go-welfare-home{
					width: 132rpx;
					height: 42rpx;
					background-image: linear-gradient(180deg, rgba(130, 255, 128, 1), rgba(178, 108, 255, 1));
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 46rpx;
					font-size: 26rpx;
					font-family: BTH;
					font-weight: 400;
					color: #FFF;
					margin-top: 12rpx;
					text{
						width: 128rpx;
						height: 38rpx;
						border-radius: 46rpx;
						background-color: #1F1F1F;
					}
				}
			}
		}
	}
	.created-home-btn{
		position: fixed;
		right: 0;
		bottom: 300rpx;
		z-index: 10;
		width: 184rpx;
		height: 74rpx;
		image{
			width: 100%;
			height: 100%;
			position: absolute;
		}
		text{
			width: 150rpx;
			text-align: right;
			line-height: 80rpx;
			display: inline-block;
			position: relative;
			z-index: 9;
			font-size: 44rpx;
			font-family: YouSheBiaoTiHei-Regular, BTH;
			font-weight: 400;
			color: #171717;
		}
	}
	.bottom-btn{
		position: fixed;
		left: 0;
		bottom: 100rpx;
		z-index: 9;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #1D1F36;
		padding: 50rpx 0;
		.btn-item{
			width: 228rpx;
			height: 78rpx;
			position: relative;
			text-align: center;
			line-height: 78rpx;
			font-size: 32rpx;
			font-family: YouSheBiaoTiHei-Regular, BTH;
			font-weight: 400;
			image{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
			}
			text{
				position: relative;
				z-index: 1;
			}
		}
		.created{
			text{
				background-image: linear-gradient(180deg, #FFFFFF 0%, #83FD82 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}