.wrap,
.luckbox {
	width: 100vw;
	height: 100vh;
}

.luckbox {
	overflow: hidden;
	/* background: url('https://img.50api.cn/dingdang/qg.webp') no-repeat; */
	background-size: 100% 100%;
}

.luckbox .cbox1 {
	/* margin-top: 200rpx; */
	height: calc(100% - 55px);
}

.ranks {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100rpx;
	padding: 0 20rpx;
	width: 100%;
	height: 72rpx;
}

.ranks .list {
	border-radius: 16rpx;
	width: 52rpx;
	height: 52rpx;
	border: 1rpx solid #00E1DB;
	position: relative;
	padding: 10rpx;
	margin: 10rpx;
}

.ranks .list image {
	width: 100%;
	height: 100%;
}

.ranks .list text {
	position: absolute;
	right: -10rpx;
	top: -20rpx;
	color: rgba(99, 215, 214, 0.7);
	font-family: 'myfont';
	font-size: 32rpx;
}

.di {
	margin-top: 100rpx;
}

.di .stoppic {
	width: 600rpx;
	height: 100rpx;
	background: linear-gradient(260deg, rgba(162,39,244,0.31) 0%, #BC58FF 100%);
	border-radius: 12px 12px 12px 12px;
	opacity: 1;
	border: 2px solid #FFFFFF;
}

.di .stoppic image {
	width: 600rpx;
}

.di .stoppic text {
	font-size: 16px;
	font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 50px;
}

.kai {
	padding: 10rpx 20rpx;
	border-radius: 16rpx;
	margin-top: 40rpx;
	border: 1rpx solid #fff;
	color: #fff;
	display: inline-block;
	margin-left: 30rpx;
}

.result {
	width: 100vw;
	height: 100vh;
}

.result .rbox {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.goodsBox .name {
	/* margin: 10rpx 0; */
	margin-top: 6rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	font-size: 24rpx;
	padding: 0 16rpx;
}

.result .rbox .tit {
	width: 750rpx;
	text-align: center;
}

.result .rbox .tit image {
	position: absolute;
	left: 0;
	top: 0;
	width: 750rpx;
}

.result .rbox .bottom {
	width: 750rpx;
	font-family: 'myfont';
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 40rpx;
}

.result .rbox .bottom .btit {
	color: #fff;
	font-size: 36rpx;
}

.result .rbox .bottom .btn {
	padding: 20rpx 60rpx;
	background-color: #fff;
	border-radius: 20rpx;
	font-size: 38rpx;
	display: inline-block;
	margin-top: 20rpx;
}

.result .rbox .goodsBox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 400rpx);
	width: 750rpx;
	position: absolute;
	left: 0;
	padding: 40rpx;
	box-sizing: border-box;
}

.result .rbox .goodsBox .cbox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.result .rbox .goodsBox .c1 .list {
	width: 70%;
	height: 486rpx;
	text-align: center;
	background-size: 100% 100% !important;
}

.result .rbox .goodsBox .c1 .list .price {
	font-size: 36rpx;
}

.result .rbox .goodsBox .c1 .list image {
	width: 282rpx;
	height: 286rpx;
	margin-top: 80rpx;
	margin-bottom: 0;
}

.result .rbox .goodsBox .c3 .list image {
	width: 196rpx;
	height: 196rpx;
	margin-top: 46rpx;
	margin-bottom: 0;
}

.result .rbox .goodsBox .c5 .list image {
	width: 120rpx;
	height: 120rpx;
	margin-top: 36rpx;
	margin-bottom: 0;
}

.result .rbox .goodsBox .c10 .list image {
	width: 120rpx;
	height: 120rpx;
	margin-top: 36rpx;
	margin-bottom: 0;
}

.result .rbox .goodsBox .list .price {
	/* margin-top: 1%; */
	color: #fff;
	font-family: 'myfont';
	text-align: center;
}


.result .rbox .goodsBox .c3 .list {
	width: 47%;
	height: 338rpx;
	background-size: 100% 100% !important;
	margin: 10rpx;
	text-align: center;
}

.result .rbox .goodsBox .c3 .list .price {
	font-size: 36rpx;
}

.result .rbox .goodsBox .c5 .list {
	width: 30%;
	height: 238rpx;
	background-size: 100% 100% !important;
	margin: 10rpx;
	text-align: center;
}

.result .rbox .goodsBox .c5 .list .price {
	font-size: 30rpx;
}

.result .rbox .goodsBox .c10 .list {
	width: 30%;
	height: 208rpx;
	background-size: 100% 100% !important;
	margin: 10rpx;
	text-align: center;
}

.result .rbox .goodsBox .c10 .list .price {
	font-size: 30rpx;
}

.result .rbox .goodsBox .c20 .list {
	width: 30%;
	height: 208rpx;
	background-size: 100% 100% !important;
	margin: 10rpx;
	text-align: center;
}

.result .rbox .goodsBox .c20 .list .price {
	font-size: 30rpx;
}
