.warehouse-page{
	width: 100%;
	min-height: 100vh;
	padding: 0 30rpx;
	background-color: #1D1F36;
	position: relative;
	.tap-list{
		width: 100%;
		height: 140rpx;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		left: 0;
		z-index: 9;
		background-color: #1D1F36;
		// #ifdef H5
		top: 88rpx;
		// #endif
		// #ifndef H5
		top: 0;
		// #endif
		.tap-item{
			width: 308rpx;
			height: 84rpx;
			border-radius: 8rpx;
			position: relative;
			image{
				width: 100%;
				height: 100%;
			}
			.tab-name{
				width: 100%;
				height: 84rpx;
				text-align: center;
				line-height: 84rpx;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 99;
				font-size: 36rpx;
				font-family: BTH;
				font-weight: 400;
				color: #6F6F6F;
			}
			.selectedItem{
				color: #000000;
			}
		}
	}
	.second-tab-list{
		width: 100%;
		height: 100rpx;
		background-color: #1D1F36;
		z-index: 9;
		position: fixed;
		// #ifdef H5
		top: 220rpx;
		// #endif
		// #ifndef H5
		top: 140rpx;
		// #endif
		left: 0;
		padding: 0 30rpx;
		display: flex;
		align-items: center;
		.second-tab-item{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 140rpx;
			height: 66rpx;
			border-radius: 46rpx;
			font-size: 32rpx;
			font-family: BTH;
			font-weight: 400;
			color: #FFF;
			background-color: #FFF;
			margin-right: 20rpx;
			text{
				text-align: center;
				line-height: 58rpx;
				width: 132rpx;
				height: 58rpx;
				border-radius: 46rpx;
				background-color: #1F1F1F;
			}
		}
		.selected-second-item{
			background-image: linear-gradient(180deg, rgba(130, 255, 128, 1), rgba(178, 108, 255, 1));
			color: #75E276;
		}
	}
	.warehouse-content{
		padding-top: 250rpx;
		width: 100%;
		// #ifdef H5
		padding-bottom: 260rpx;
		// #endif
		// #ifndef H5
		padding-bottom: 150rpx;
		// #endif
		background-color: #1D1F36;
	}
	.composite-box{
		position: fixed;
		width: 100%;
		// #ifdef H5
		height: 250rpx;
		// #endif
		// #ifndef H5
		height: 150rpx;
		// #endif
		bottom: 0;
		z-index: 9;
		background-color:  #1D1F36;
		.composite-btn{
			width: 228rpx;
			height: 78rpx;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 62%;
			image{
				width: 100%;
				height: 100%;
			}
			text{
				font-size: 36rpx;
				font-family: YouSheBiaoTiHei-Regular, BTH;
				font-weight: 400;
				background: linear-gradient(180deg, #FFFFFF 0%, #83FD82 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				position: absolute;
				z-index: 2;
			}
		}
	}
}